body {
    color: #00275d;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #00275d;
}

header a {
    color: #00275d;
    float: right;
    margin: 2px;
}

footer {
    background-color: #00275d;
    position: relative;
    bottom: 0px;
}

footer h1 {
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

.logo {
    float: left;
}

td {
    color: #00275d;
}

td img {
    width: 200px;
}

input {
    margin: 2px;
}
.scania {
    position: relative;
    top: 3px;
}